{% extends 'base.html' %}

{% block content %}
<h1 class="align-middle text-primary">Nauczyciele</h1></div>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Telefon</th>
      <th scope="col">Email</th>
        <th scope="col">Usuń</th>
    </tr>
  </thead>
  <tbody>
  {% for t in teachers %}
    <tr>
      <td class="align-middle">{{ t.name}}</td>
      <td class="align-middle">{{ t.surname }}</td>
      <td class="align-middle">tel.: {{t.phone}}</td>
      <td class="align-middle">e-mail: <a href="mailto:{{t.email}}">{{t.email}}</a></td>
    <td class="align-middle"><input type="button" onclick="location.href='/del_teacher/';" value="Usuń" class="btn btn-sm btn-outline-danger"/>
    </tr>
  {% endfor %}
  </tbody>
</table>
<h2 class="text-primary">Dodaj nowego nauczyciela</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Dodaj" class="btn btn-success">
    </form>

{% endblock %}