{% extends 'base.html' %}

{% block content %}
<h1 class="align-middle text-primary">Lista klientów</h1></div>
<div class="list-group mb-5">
    {% for result in results %}
    <a href="/client/{{ result.pk }}/" class="list-group-item list-group-item-action">{{ result.name }} {{ result.surname }}
        {{ result.client }}</a>
    {% endfor %}
</div>
<!--<input type="button" onclick="location.href='/add_workout/';" value="Dodaj nowe zajęcia"/>-->
<input type="button" onclick="location.href='/add_client/';" value="Dodaj nowego klienta" class="btn btn-success"/>
{% endblock %}